/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* Utilitys */
.clearfix{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.w-50{
    width: 50%;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}

.inline-block{
    display: inline-block;
}

ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
}

.btn{
    max-width: 100px;
    background-color:#fe7759;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-border{
    max-width: 100px;
    background-color:transparent;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #fe7759;
    text-decoration: none;
}
.btn-big{
    max-width: 100px;
    background-color:#fe7759;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

h2,
h3,
h4,
p{
    color: #33475b;
    font-weight: 900;
}

/* Header top */
.header-top {
    background-color:#f4f9fe ;
    border-bottom: 2px solid #32495b;
}
.header-top a{
    color: #32495b;
}
.header-top nav ul li{
    display: inline-block;
    margin: 30px 0;
    vertical-align: middle;
}
/* Header top right */
.header-top-right nav ul li:first-child{
    border-right: 1px solid #32495b;
    padding-right: 20px;
}
.header-top-right nav ul li:last-child{
    padding-left: 20px;
}

/* header top left */
.header-top .header-top-left nav ul li{
    padding-left: 20px;
}

.header-top .header-top-left nav ul li .fas.fa-search{
    color: #2fb0c6;
}
.header-top .header-top-left nav ul li a:not(i),
.header-top .header-top-left nav ul li a:last-child{
    color: #fff;
    border: 1px solid transparent;
}
.header-top .header-top-left nav ul li a.btn-border{
    color: #fe7759;
    border: 1px solid #fe7759;
}
/* Effect hover header top left*/
.header-top .header-top-left nav ul li a.btn-border:hover{
    color: #fff;
    background-color:#fe7759 ;
}
.header-top .header-top-left nav ul li a:not(.btn-border,.icon-search):hover{
    background-color: transparent;
    color: #fe7759;
    border: 1px solid #fe7759;
}
.header-top .header-top-left nav ul li a i.fas.fa-search:hover{
    color:#fe7759 ;
}
/* Effect hover header top right*/
.header-top-right nav ul li a:hover{
    color: #fe7759 ;
}
/* Header bottom */
.header-bottom img,
.header-bottom nav ul li{
    display: inline-block;
    margin: 30px 0;
    vertical-align: middle;
}

/* Header bottom left */
.header-bottom-right nav ul li,
.header-bottom-right nav ul li a i{
    padding-left: 15px;
}
.header-bottom-right nav ul li a{
    color: #32495b;
}
.header-bottom-right nav ul li a:hover{
    color:#fe7759;
}
/* Hero top */
.hero-top{
    height: 650px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size:cover;
    background-repeat: no-repeat;
}
.hero-top .container{
    padding-top: 60px;
    color: #33475b;
}
.hr-hero{
    height: 100px;
    background:#b0ebe4;
    border-top:5px solid #32495b;
    border-bottom:5px solid #32495b;
}

.hero-top .container .text-hero-top h1{
    font-weight: 900;
    font-size: 50px;
}
.hero-top .container .text-hero-top p{
    padding:35px 0;
    font-weight: 700;
    color: #5b6877;
}

/* Hover effect btn  hero top*/
.hero-top .container .text-hero-top .btn-big:hover{
    background-color: transparent;
    color: #fe7759;
    border: 1px solid #fe7759;
}

/* Main content central */

.content-center{
    height: 1200px;
    background-color: #f4f9fe;
    padding-top: 70px;
}
.content-center .img-cube img{
    width: 300px;
}
.content-center .img-cube h2{
    padding-bottom: 30px;
    font-size: 30px;
}
.content-center .img-cube p{
    padding: 5px 0;
}

.crm .img-book img{
    width: 100px;  
}
.crm .img-book {
    background-color: grey;
}