/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #33475b;
}

/* Utilitys */
.clearfix{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 1170px;
    margin: 0 auto;
}
/* Position */
.inline-block{
    display: inline-block;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.p20{
    padding: 0 10px;
}
/* Width */
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
/* List style */

ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
}

.btn{
    max-width: 100px;
    background-color:#fe7759;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.btn-border{
    max-width: 100px;
    background-color:transparent;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #fe7759;
    text-decoration: none;
}
.btn-big{
    max-width: 100px;
    background-color:#fe7759;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.blue{
    color: blue;
}

h2,
h3,
h4,
p{
    color: #33475b;
    font-weight: 900;
}
.bold{
    font-weight: bold;
}

.block{
    display: block;
}

.fas.fa-check-circle{
    color: #fe7759;
    padding-right: 10px;
}

.box{
    box-shadow: 1px 1px 10px   rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
}

.small-bar{
    width: 300px;
    height: 3px;
    border-radius: 30px;
    background-color: grey;  
}
/* Header top */
.header-top {
    background-color:#f4f9fe ;
    border-bottom: 2px solid #32495b;
}
.header-top a{
    color: #32495b;
}
.header-top nav ul li{
    display: inline-block;
    margin: 30px 0;
    vertical-align: middle;
}
/* Header top right ---------*/
/* Button menù language ---------------------*/
.dropbtn {
    color: #32495b;
    background-color:#f4f9fe ;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menù-language {
    position: relative;
    display: inline-block;
    
  }
  
  .language-container {
    display: none;
    position: absolute;
    background-color: #f4f9fe;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    overflow: hidden;
  }
  
  .language-container a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  /* Button menù language hover----------------*/
.language-container a:hover {
    background-color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.menù-language:hover .language-container {
    display: block;
}

.menù-language:hover .dropbtn {
    color: #fe7759;
}

/* END Button menù language hover----------------*/

.header-top-right nav ul li:first-child{
    border-right: 1px solid #32495b;
    padding-right: 20px;
}
.header-top-right nav ul li:last-child{
    padding-left: 20px;
}

/* header top left */
.header-top .header-top-left nav ul li{
    padding-left: 20px;
}

.header-top .header-top-left nav ul li .fas.fa-search{
    color: #2fb0c6;
}
.header-top .header-top-left nav ul li a:not(i),
.header-top .header-top-left nav ul li a:last-child{
    color: #fff;
    border: 1px solid transparent;
}
.header-top .header-top-left nav ul li a.btn-border{
    color: #fe7759;
    border: 1px solid #fe7759;
}

/* Effect hover header top left*/
.header-top .header-top-left nav ul li a.btn-border:hover{
    color: #fff;
    background-color:#fe7759 ;
    opacity: 0.6;
    transition-duration: 0.5s;
}
.header-top .header-top-left nav ul li a:not(.btn-border,.icon-search):hover{
    opacity: 0.6;
    transition-duration: 0.8s;
}
.header-top .header-top-left nav ul li a i.fas.fa-search:hover{
    color:#fe7759 ;
}
.header-top-left .input{
    opacity: 0;
    font-size: 18px;
    position: relative;
    left: 20px;
    border: 1px solid #2fb0c6;
    border-radius: 5px;
}

/* Effect hover header top right*/
.header-top-right nav ul li a:hover{
    color: #fe7759 ;
}
nav ul:hover .input{
    opacity: 1;
    transition-duration: 0.5s;
}
/* Header bottom */

/* Header bottom right---- */
.logo-hub{
    vertical-align: middle;
    line-height: 80px;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
  }
.header-bottom img,
.header-bottom nav ul li{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
}

/* Header bottom left */

/* Software menù */
.dropbtn-software {
    background-color: transparent;
    color: #32495b;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menù-software {
    position: relative;
    display: inline-block;
  }
  
  .software-container {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius:0 0 20px 20px;
    min-width: 620px;
    min-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    line-height: 15px;
    overflow: hidden;
  }

  .all-box{
      margin:20px;
      background-color:transparent ;
     
  }
  .all-box:hover{
    box-shadow: 1px 1px 10px  rgba(133, 132, 132,0.2);
    cursor: pointer;
  }

  .header-bottom-right .menù-software p{
      font-size: 14px;
      margin: 10px 0;
      font-weight: 400;
  }
  .header-bottom-right .menù-software .text-all-box{
     margin: 10px;
  }
  
  .software-container a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Software menù hover*/
  .software-container a:hover {
      background-color: #ddd;
}
  
  .menù-software:hover .software-container {
      display: block;
}
  
  .menù-software:hover .dropbtn-software {
      color: #fe7759;
}
/* END Software menù hover*/

/* Resource menù */
.dropbtn-resource {
    background-color: transparent;
    color: #32495b;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .resource-all-box{
      margin:10px;
  }
  
  .menù-resource {
      position: relative;
    display: inline-block;
  }
  
  .resource-container {
    display: none;
    position: absolute;
    transform: translateX(-80px);
    background-color: #fff;
    border-radius:0 0 20px 20px;
    min-width: 550px;
    min-height: 200px;
    max-width: 800px;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    line-height: 15px;
    overflow: hidden;
  }
  .menù-resource .resource-all-box i{
      margin-right: 15px;
  }
  .menù-resource .resource-all-box li{
      display: block;
      line-height: 35px;
     
  }

  /* Resource menù hover*/
  .resource-container a:hover {
    text-decoration: underline;
}

.menù-resource:hover .resource-container {
    display: block;
}

.menù-resource:hover .dropbtn-resource {
    color: #fe7759;
}
/* END Resource menù hover*/

/* About menù */
.dropbtn-about {
    color: #32495b;
    background-color:transparent ;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menù-about {
    position: relative;
    display: inline-block;
    
  }
  
  .about-container {
    display: none;
    position: absolute;
    background-color: #f4f9fe;
    border-radius: 0 0 10px 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    overflow: hidden;
    line-height: 30px;
  }
  
  .about-container a {
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 12px;
  }
  /* Button menù about hover----------------*/
.about-container a:hover {
    background-color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.menù-about:hover .about-container {
    display: block;
}

.menù-about:hover .dropbtn-about {
    color: #fe7759;
}
/* END Button menù about hover----------------*/

/* Prtner menù */
.dropbtn-partner {
    color: #32495b;
    background-color:transparent ;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menù-partner {
    position: relative;
    display: inline-block;
    
  }
  
  .partner-container {
    display: none;
    position: absolute;
    background-color: #f4f9fe;
    border-radius: 0 0 10px 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    overflow: hidden;
    line-height: 30px;
  }
  
  .partner-container a {
    color: black;
    padding: 0px 10px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 12px;
  }

  .partner-container img{
      max-width:100px ;
      padding: 10px -0px;
  }

  /* Button menù partners hover----------------*/
.partner-container a:hover {
    background-color: rgba(254,119, 89, 0.2);
    cursor: pointer;
}

.menù-partner:hover .partner-container {
    display: block;
}

.menù-partner:hover .dropbtn-partner {
    color: #fe7759;
}
/* END Button menù partners hover----------------*/
.header-bottom-right nav ul li,
.header-bottom-right nav ul li a i{
    padding-left: 15px;
}
.header-bottom-right nav ul li a{
    color: #32495b;
}
.header-bottom-right nav ul li a:hover{
    color:#fe7759;
}
.header-bottom-right nav ul li,
.header-bottom-right nav ul li a i{
    padding-left: 15px;
}
.header-bottom-right nav ul li a{
    color: #32495b;
}
.header-bottom-right nav ul li a:hover{
    color:#fe7759;
}
/* Hero top */

.hero-top{
    height: 650px;
    background-color: #fff3ee;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size:1520px;
    background-repeat: no-repeat;
    background-position-x: right;
}
.hero-top .container{
    padding-top: 60px;
    color: #33475b;
}
.hr-hero{
    height: 100px;
    background:#b0ebe4;
    border-top:5px solid #32495b;
    border-bottom:5px solid #32495b;
}

.hero-top .container .text-hero-top h1{
    font-weight: 900;
    font-size: 50px;
}
.hero-top .container .text-hero-top p{
    padding:35px 0;
    font-weight: 700;
    color: #5b6877;
}
.hero-top .container .text-hero-top p:last-child{
    padding-top: 50px;
}

/* Hover effect btn  hero top*/
.hero-top .container .text-hero-top .btn-big:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
}

/* Main content central */

.content-center{
    height: 1600px;
    background-color: #f4f9fe;
    padding-top: 70px;
}
.content-center .img-cube img{
    width: 300px;
}
.content-center .img-cube h2{
    padding-bottom: 30px;
    font-size: 30px;
}
.content-center .img-cube p{
    padding: 5px 0;
}

.content-center .main-crm{
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;
    margin-top:50px ;
}

.main-crm .img-cube{
    height: 100%;
    width: 15%;
    position: absolute;
    left: 10%;
    top: 20%;
}

.main-crm .img-cube img{
    width: 120px;
    padding-bottom: 40px;
}
.text-crm{
    height: 100%;
    width: 85%;
    position: absolute;
    left: 30%;
    top: 15%;
}

.main-crm .img-cube img,
.main-crm .img-cube a{
    margin: 0 auto;
}

.bar-crm{
    width: 450px;
    height: 3px;
    background: grey;
    margin: 0 20px;
    border-radius: 20px;
    vertical-align: middle;

}
.text-crm ul li{
    display: inline-block;
    padding-left: 20px;
}

.text-crm p {
    padding: 5px;
    font-size: 14px;
    position: relative;
    left: 10px;
}


.text-crm h2{
   margin: 15px;
}

/* Hover btn */
.main-crm .img-cube .btn-big:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
}

/* Content col bottom center */
.col{
    height: 630px;
    width: 30%;
    text-align: center;
}

.center-col .two-col.col{
    margin: 0 58px;
}

.center-col  .col img{
    max-width: 120px;
}
.center-col  .first-col.col img,
.center-col  .third-col.col img{
    width: 95px;
}

.center-col  .col img,
.center-col  .col p,
.center-col  .col h3,
.center-col  .col .small-bar{
    margin:20px ;
}

.center-col  .col ul li:last-child{
    margin-bottom: 80px;
}
.center-col  .col ul{
    text-align: left;
    margin-left: 30px;
}
.center-col  .col p{
    margin-bottom: 80px;
    font-weight: 700;
    color: #6f7d8b;
    font-size: 14px;
}
.center-col  .col ul li:first-child{
    margin-top: 30px;
}
.center-col  .col h3{
    text-transform: uppercase;
}
.center-col  .third-col.col p{
    margin-bottom: 70px;
}
/* Hover btn col */
.col .btn-big:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
}

/* Bottom section comunity */
.comunity{
    height: 700px;
    background: linear-gradient(45deg, #04a4bc,#02bba7);
    margin-bottom: 50px;
}

.comunity .comunity-text{
    margin-bottom: 70px;
}

 .comunity-text.container.center h2{
    color: #fff;
    padding:30px 0;
    font-size:30px;
}

.comunity-text.container.center p{
    color: #fff;
    font-size: 13px;
    line-height: 30px;
}

/* Partnership table */
.box-comunity{
    width: 25%;
    height: 200px;
    border-right: 2px solid #fff;
}
.date-comunity .box-comunity:nth-child(1),
.date-comunity .box-comunity:nth-child(2),
.date-comunity .box-comunity:nth-child(3),
.date-comunity .box-comunity:nth-child(4){
    border-bottom: 2px solid #fff;
}
.date-comunity .box-comunity:nth-child(4n+0){
    border-right: 0;
}

.box-comunity img{
    max-width: 100px;
    padding-top: 30px;
}

.date-comunity .text-box-comunity{
    color: #fff;
    font-size: 45px;
    padding: 15px 0;
}
.date-comunity .text-small{
    color: #fff;
    font-weight: 400;
}

/* Section Partnership */
.partner{
    height: 750px;
}
.date-partner{
    height: 200px;
    margin-bottom:80px ;
}

.partner .logo-partner img{
    max-width: 150px;
    padding: 10px;
    vertical-align: middle;
}
.partner .date-partner .n-partner{
    margin: 0 0 0 100px;
}
.partner .date-partner .n-partner .number-partner{
    font-size: 50px;
    padding-bottom: 30px;
}
.partner .date-partner h3{
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
}
.partner .img-partner img{
    max-width: 320px;
}
.start-partner .text-partner h2{
    margin-bottom: 30px;
    font-size: 25px;
}
.start-partner .text-partner p{
    margin:50px 0;
}

/* Hover btn */
.start-partner .text-partner .btn-big:hover{
    opacity: 0.6;
    transition-duration: 0.5s;
}

/* Footer */
.footer{
    height: 620px;
    background-color:#32495b ;
    color: #fff;
    padding-top: 40px;
}
.footer .footer-btn{
    background-color:#dadee0 ;
    padding: 15px;
    border-radius: 10px;
    color:#32495b  ;
    font-size: 14px;
    font-weight: 700;
}
.footer a{
    color: #becad7;
    text-decoration: none;
    font-weight: 500;
    line-height: 40px;
}

.footer .four-footer-col .social{
    margin-top: 20px;
}
.footer .four-footer-col li:last-child{
    margin-top: 20px;
}

.footer .four-footer-col .social a{
    padding-right: 30px;
    margin-top: 20px;
}

.footer .language{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-top: 60px;
}
.footer .language a{
    padding-right: 20px;
    font-weight: 500;
}
.footer .footer-bottom{
    margin-top: 30px;
}

/* Bottom Footer */
.footer .footer-bottom .footer-copy img{
    max-width: 150px;
}
.footer .footer-bottom .stuff a{
    padding-left: 20px;
    font-weight: 700;
}

footer .fas.fa-comments{
   font-size: 35px;
   display: inline-block;
   position: fixed;
   bottom: 30px;
   right: 30px;
   color: #fff;
   background-color:#425b76 ;
   padding: 12px;
   border-radius:50%;
}
footer div .text-copy-footer{
    line-height: 20px;
    font-weight: 500;
}
/* Hover effect */
.footer a:hover{
    color: #fe7759;
}
.footer .footer-btn:hover{
    background-color:#fe7759 ;
    opacity: 0.6;
    color:#fff;
    transition-duration: 0.5s;
}

footer .fas.fa-comments:hover{
    box-shadow: 1px 1px  15px rgba(254,119, 89, 0.5);
    transition-duration: 0.2s;
    color:#fe7759  ;
}
